/* @font-face { 
    font-family: robotics-original;
    src: url(nasalization-rg.otf);
}
*/
* {
    /* font-family: robotics-original  ; */
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body{
    background-color: black;
    /* background-repeat: no-repeat; */
    width: 100vw;
    background-size:cover;
}



/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}


.container {
    width: 90%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.links a:hover{
font-size: 1.2rem;
}

.contact-btn{
    border-radius:8px;
    padding: 9px;
    background-color:  #9E2A2B;
    color: white;
    border:none;    
    font-size: 1.1rem;
    width: 10rem;
    transition: all 0.3s ease-in-out;     
     

}
.contact-btn:hover{
    background-color: #570f0f;
    font-size: 1.2rem;
}

.contact-btn img{
height: 1.2rem;
padding-left:  8px;
position: relative;
   top: 3px;
}

